.not-found  {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 30px;
    margin: 30px;
    width: 85vw;
    min-width: 330px;
    min-height: 70vh;
    background-color: #5e5e5e;
    border-radius: 5px;
    
    h3, p {
        width: 100%;
        color: #a3a3a3;
        text-align: center;
    }
    
    .loading-icon {
        align-self: center;
    }
}