.item-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin: 30px;
    width: 85vw;
    min-width: 330px;
    min-height: 70vh;
    background-color: rgb(255, 148, 27);
    border-radius: 5px;

    .loading-icon{
        align-self: center;
    }
}