input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.contador {
    width: 250px;
    background-color: grey;
}

.contador div {
    width: 100%;
    margin: 10px 0px;
    display: flex;
    justify-content:space-evenly
}

.contador div input{
    text-align: center;
    &:focus-visible {
        outline: none;
    }
}

.contador-boton {
    width: 30px;
    height: 30px;
}

.agregar-carrito-boton {
    width: 100%;
    height: 30px;
}