@media screen and (min-width: 1500px) {
    .nav-bar {
        align-items: end;
    }
    .botones-nav li{
        margin: 0px 45px;
    }
    .botones-principales {
        display: flex;
    }
}

@media screen and (max-width: 1499px) {
    .nav-bar {
        align-items: end;
    }
    .botones-nav li{
        margin: 0px 35px;
    }
    .botones-principales {
        display: block;
    }
}

@media screen and (max-width: 1199px) {
    .nav-bar {
        flex-direction: column;
        align-items: center;
    }
    .botones-nav li{
        margin: 0px 35px;
    }
    .botones-principales {
        display: flex;
    }
}

@media screen and (max-width: 800px) {
    .nav-bar {
        flex-direction: column;
        align-items: center;
        min-width: 400px;
    }
    .nav-bar nav{
        flex-wrap: wrap;
        flex-direction: row-reverse;
        align-items: center;
    }
    .botones-nav li{
        margin: 0px 15px;
    }
    .botones-principales {
        display: flex;
    }
}

.nav-bar {
    background-color: #ff941b;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    box-shadow: 0px 1px 10px 1px aqua;
    background-image: url('../assets/patron.png');
    margin-bottom: 50px;
}

.nav-bar nav {
    width: 65%;
    display: flex;
    align-items: end;
    justify-content: space-around;

}

.botones-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    margin: 0px 10px;
    margin-bottom: 10px;
}

  .botones-nav li{
    text-align: center;
    min-width: 65px;
    cursor: pointer;
    color: rgb(44, 44, 44, 0.8);
    transition: 0.3s;
    list-style: none;
    user-select: none;
}

.botones-nav li:hover {
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 10px rgb(255, 255, 255);
}

.botones-principales {
    align-items: center;
    justify-content: space-between;
}

.botones-principales li{
    width: 100px;
    height: 45px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(44, 44, 44);
    border-radius: 25px;
    margin:15px;
    transition: 0.3s;
    border: 1px solid rgba(0, 255, 255, 0);
}

.botones-principales li:hover {
    border: 1px solid rgba(0, 255, 255, 0.829);
}

.botones-principales li {
    text-align: center;
    min-width: 65px;
    cursor: pointer;
    color: #fffbe6;
    transition: 0.3s;
    list-style: none;
    user-select: none;
}

.botones-principales li:hover {
    color: white;
    text-shadow: 1px 1px 10px aqua;
}

.logo img {
    width: 300px;
    user-select: none;
}

.carrito {
    width: 30px;
    margin: 10px;
}