.poke-container {
    background-color: rgb(255, 49, 49);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 600px;

    .poke-info {
        text-align: center;

        h2 {
            font-size: 35px;
            color: yellow;
        }

        h3 {
            color: aquamarine;
        }
    }

    h1 {
        width: 100%;
        text-align: center;
    }

    button {
        width: 45%;
        margin: 10px;
    }
}