@font-face {
  font-family: 'BTTF';
  src: url('./assets/fonts/BTTF.ttf');
}

@font-face {
  font-family: 'VCR-OSD-MONO';
  src: url('./assets/fonts/VCR-OSD-MONO.ttf');
}

@font-face {
  font-family: 'LEMONMILK';
  src: url('./assets/fonts/LEMONMILK.otf');
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  h1 {
    font-family: 'BTTF';
    font-size: 2.3em;
    line-height: 1.1;
  }

  h2, h3, button, a{
    font-family: 'LEMONMILK';
  }

  p {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.8;
  }

  a, button {
    font-size: 13px;
    line-height: 1.8;
  }
}